.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

h1 {
  text-decoration: underline;
}

.profile-container {
  display: block;
  position: relative;
  padding-bottom: 10px;
}

.profile-container .border-container {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
}

.border-container .border-piece {
  width: calc(100% / 5);
  height: 4px;
  float: right;
}

.profile-container .inner-container {
  width: 300px;
  margin: 0 auto;
  text-align: center;
}

.avatar-container:hover {
  transform: scale(1.05);
}

.athlete-name {
  display: inline-block;
  text-decoration: none;
  margin-right: 0.25em;
}

.avatar-container {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  margin: 0;
  border: 3px solid #aaa;
  transition: transform 0.3s ease-out;
}

.avatar-container > img {
  width: 75px;
  height: auto;
  display: block;
}

.example-enter {
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

.example-enter.example-enter-active {
  opacity: 1;
}

.example-leave {
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

.example-leave.example-leave-active {
  opacity: 0;
}

.activity-container {
  padding: 20px;
  margin: 10px;
  transition: all 1s;
}

.activity-container .details {
  display: inline-block;
  margin-right: 20px;
}

.activity-container form {
  padding: 10px;
  background: rgba(255,255,255,0.7);
  border: 1px solid rgb(230,230,230);
  float: right;
}

.activity-container form .big-bertha {
  display: block;
  margin-top: 20px;
  font-size: 16px;
}

